.book-entry {
    position: relative;
    padding-right: 30px;
    margin-bottom: 15px;
}

.delete-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.edit-button {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.save-button {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
